// https://imag.malavida.com/mvimgbig/download-fs/whatsapp-10159-9.jpg

$background: black;

* {
  margin: 0;
}

p {
  display: inline-block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

html,
body,
#main {
  width: 100%;
  @extend .flex;
  height: 100%;
  background: rgb(40, 40, 40);
}

#client1,
#client2 {
  width: 88vw;
  margin-bottom: 30px;
  height: 98vh;
  background: black;
  color: whitesmoke;

  .notfBar {
    @extend .flex;
    justify-content: space-between;
    height: 3.5%;
    background: rgb(5, 75, 69);
    font-size: 0.8rem;
    padding: 0 7px;

    i {
      margin: 0 1px;
    }
  }

  .contact {
    @extend .flex;
    justify-content: space-between;
    height: 7.5%;
    background: rgb(8, 91, 82);
    padding: 0 10px;

    .person {
      @extend .flex;
      height: 100%;

      img {
        height: 80%;
        border-radius: 100%;
        margin: 0 10px;
      }

      div {
        p {
          width: 100%;
          display: block;
        }

        .status {
          font-size: 0.6rem;
          display: block;
        }

        &:hover .status {
          display: block;
        }
      }
    }

    .options {
      i {
        font-size: 1rem;
        padding: 0 11px;
      }
    }
  }

  .chat {
    display: block;
    background: $background;
    height: 81%;
    color: black;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: white rgb(30, 30, 30);

    .message,
    .response {
      display: block;
      background: rgb(226, 255, 199);
      max-width: 80%;
      min-width: 51%;
      margin: 4px 7px;
      border-radius: 10px;
      float: right;
      padding: 0 5px;
      position: relative;

      &.d-none {
        display: none;
      }

      p {
        margin-left: 10px;
        line-height: 27px;
      }

      .delete {
        position: absolute;
        right: 0;
        top:0;
        opacity: 0;
        transition: 0.3s;
        border-radius: 10px;
        border: none;
        font-size: 1.2rem;
        z-index: 9;

        &:hover {
          opacity: 1;
          background: inherit;
        }

        ul {
          display: none;
          position: absolute;
          right: 5px;
          width: 180px;
          list-style: none;
          background: rgb(226, 226, 226);
          padding: 10px 0;
          border: 1px rgba(0,0,0,0.1) solid;
          border-radius: 10px;

          &.d-block {
            display: block;
          }

          li {
            width: 100%;

            &:hover {
              background: grey;
            }
          }
        }
      }

      h5 {
        width: 100%;
        text-align: end;
        font-size: 0.5rem;
        margin-right: 10px;
        margin-bottom: 2px;
      }
    }

    .response {
      background: whitesmoke;
      float: left;
    }
  }

  .input {
    background: $background;
    height: 8%;
    @extend .flex;
    justify-content: space-between;

    .textArea {
      @extend .flex;
      background: white;
      height: 40px;
      width: calc(100% - 60px);
      border-radius: 50px;
      margin-left: 5px;
      color: black;
      padding: 0px 4px;

      input {
        width: 70%;
        height: 30px;
        font-size: 18px;
        border: none;
        outline: none;
      }

      i {
        color: grey;
        font-size: 1.1rem;
      }
    }

    .sendButton {
      @extend .flex;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background: rgb(8, 91, 82);
      margin-right: 3px;
      border: none;
      color: whitesmoke;
      font-size: 1.3rem;

      i {
        margin-right: 3px;
      }
    }
  }
}

@media (min-width: 576px) {
  #client1,
  #client2 {
    width: 70vw;
    margin-bottom: 40px;
  }
}

@media (min-width: 680px) {
  #client1,
  #client2 {
    width: 51vw;
    margin-bottom: 40px;
  }
}

@media (min-width: 1000px) {
  #client1,
  #client2 {
    width: 30vw;
  }
}

// scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(83, 83, 83);
}

::-webkit-scrollbar-thumb {
  background: white;
}
